body {
	font-family: "Jetbrains Mono", "IBM Plex Mono", monospace;
	padding-bottom: 3em;
	font-size: 0.9em;
	maximum-width: 200em;
}


h1, h2, h3, h4, h5, h6 {
	/* font-size: 1.2rem; */
	margin-top: 1em;
	/* border-style: dotted; */
	/* border-color: inherit; */

}

h1{
	font-size: 1.25em;
	filter: contrast(60%);
	border-width: 0.05em;
}

h2{
	font-size: 1.2em;
	filter: contrast(50%);
	border-width: 0.04em;
}

h3{
	font-size: 1.1em;
	filter: contrast(40%);
	border-width: 0.03em;
}

h4{
	font-size: 1.0em;
	filter: contrast(30%);
	border-width: 0.03em;
}

h5{
	font-size: 1.0em;
	filter: contrast(20%);
	border-width: 0.02em;
}

h6{
	font-size: 1.0em;
	filter: contrast(10%);
	border-width: 0.01em;
}

h1::before { filter: contrast(2%); content: '* '; }
h2::before { filter: contrast(2%); content: '** '; }
h3::before { filter: contrast(2%); content: '*** '; }
h4::before { filter: contrast(2%); content: '**** '; }
h5::before { filter: contrast(2%); content: '***** '; }
h6::before { filter: contrast(2%); content: '****** '; }


.metadata {
	font-size: 0.8em;
	filter: contrast(52%);
}

.flex-container {
	display: flex;
	flex-direction: row;
}

.flex-item-left {
	padding-right: 3em;
	flex: 75%;
	text-align: justify;
}

.flex-item-right {
	/* background-color: dodgerblue; */
	padding-left: 3em;
	padding-right: 3em;
	flex: 25%;
}

.header {
	display: flex;
	flex-direction: row;
	border-style:solid;
	border-width: 0.0em 0.0em 0.1em 0.0em;
	margin-bottom: 2em;
}

.header-left {
	padding-right: 3em;
	flex: 85%;
	text-align: justify;
}

.header-right {
	/* background-color: dodgerblue; */
	padding-left: 3em;
	padding-right: 3em;
	flex: 15%;
}

#darkmode {
	text-align: right;
}

.dark-mode {
    background-color: #0c0d0e;
    color: #b7b8b9;
}
.light-mode {
    background-color: white;
    color: black;
}

.emoji {
	font-family: Apple Color Emoji, Segoe UI Emoji, NotoColorEmoji, Segoe UI Symbol, Android Emoji, EmojiSymbols;
}

.summary {
	font-size: 0.8em;
	/* border-style: solid;
	   border-width: 0.01em; */
	/* border-color: #ffc0cb70; */
	/* filter: contrast(2%); */

}


.footer {
	font-size: 1.0em;
	border-style: solid;
	border-width: 0.01em;
	border-color: inherit;
	position: fixed;
	bottom: 0px;
	height: 2.2em;
	width: 100%;
	background: inherit;
	filter: contrast(95%);
	text-align: center;
}


.logo {
	font-size: 2em;
}

.summary h1{
	font-size: 1em;
}

.summary h2{
	font-size: 1em;
}

.summary h3{
	font-size: 1em;
}

.summary h4{
	font-size: 1em;
}

.summary h5{
	font-size: 1em;
}

.summary h6{
	font-size: 1em;
}

.summary-meta {
	font-size: 0.8em;
}

.summary-meta {
	font-size: 0.8em;
}


pre {
	font-size: 1em;
	border-style: solid;
	border-width: 0.1em;
	border-color: #ffc0cb70;
	/* filter: brightness(97%); */
	/* opacity: 0.9; */
	filter: contrast(94%);
	overflow-x: auto;
}

.homepage-box {
	min-height: 28em;
}

/* Images */
img {
  border: 0.3em solid inherit;
  max-width: 100%;
}

figure {
  box-sizing: border-box;
  display: inline-block;
  margin: 0;
  max-width: 100%;
}

figure img {
	max-height: 30em;
}


#toc {
	/* position: fixed;
	   top: 80px;
	   bottom: 20px; */
	/* overflow-x: hidden; */
	overflow-y: auto;
	padding-right: 8em;
}


/* Toggle Button */
#color-mode {
	-webkit-appearance: none;
	-webkit-tap-highlight-color: transparent;
	position: relative;
	border: 0;
	outline: 0;
	cursor: pointer;
	margin: 0.8em;
}


/* To create surface of toggle button */
#color-mode:after {
	content: '';
	width: 4.3em;
	height: 1.7em;
	display: inline-block;
	background: rgba(196, 195, 195, 0.55);
	border-radius: 18px;
	clear: both;
}


/* Contents before checkbox to create toggle handle */
#color-mode:before {
	content: '';
	width: 1.7em;
	height: 1.7em;
	display: block;
	position: absolute;
	left: 0;
	top: 0em;
	border-radius: 50%;
	background: rgb(255, 255, 255);
	box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);
}


/* Shift the handle to left on check event */
#color-mode:checked:before {
	left: 2.5em;
	box-shadow: -1px 1px 3px rgba(0, 0, 0, 0.6);
}
/* Background color when toggle button will be active */
#color-mode:checked:after {
	background: #16a085;
}

/* #dark-mode:checked ~ * {
   background-color: #0c0d0e;
   color: #b7b8b9;
   } */

/* @media (prefers-color-scheme: dark) {
   body {
   background-color: #0c0d0e;
   color: #b7b8b9;
   }
   } */

/* Responsive layout - makes a one column-layout instead of two-column layout */
@media (max-width: 800px) {
	.flex-container {
		flex-direction: column-reverse;
	}
}
