<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.5.1/highlight.min.js"></script>
<script>hljs.highlightAll();</script>

<script>

 function darkMode() {
     var element = document.body;
     element.className = "dark-mode";
     console.log("Dark Mode is ON");
	 var highlight_theme = document.getElementsByTagName('link')[0];
	 highlight_theme.setAttribute('href', "https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.5.1/styles/base16/brewer.min.css");
 }

 function lightMode() {
     var element = document.body;
     element.className = "light-mode";
	 console.log("Dark Mode is OFF");
	 var highlight_theme = document.getElementsByTagName('link')[0];
	 highlight_theme.setAttribute('href', "https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.5.1/styles/base16/github.min.css");
 }

 /* if (window.matchMedia && window.matchMedia('(prefers-color-scheme: dark)').matches) {
	// dark mode
	var element = document.body;
  *     var content = document.getElementById("DarkModetext");
  *     element.className = "dark-mode";
  *     content.innerText = "Dark Mode is ON";
	} */

 if (localStorage.getItem("button-pressed") === "true"){
	 (localStorage.getItem("dark") === "true") || false;
 }
 else {
	 if (window.matchMedia && window.matchMedia('(prefers-color-scheme: dark)').matches){
		 localStorage.setItem("dark", "true");
	 }
	 else{
		 localStorage.setItem("dark", "false");
	 }
 }



 var divfordark = document.getElementById('darkmode');

 var cb = document.createElement('input');
 cb.type = 'checkbox';
 cb.name = 'color-mode';
 cb.value = 'Dark';
 cb.id = "color-mode";
 cb.checked = (localStorage.getItem("dark") === "true") || false;
 cb.addEventListener("click", localStorage.setItem("button-pressed", "true"));
 cb.addEventListener("click", setTheme);
 divfordark.appendChild(cb);
 divfordark.appendChild(document.createTextNode(" Dark Mode"));

 function setTheme(){
	 if (cb.checked == true){
		 localStorage.setItem("dark", "true");
		 darkMode();
	 }
	 else{
		 localStorage.setItem("dark", "false");
		 lightMode();
	 }
 }

 setTheme();

</script>
